<div>

</div><div  class="box-collateral">

  <table ng-table="also_bought" template-pagination="custom/pager" class="table data-table" >
    <caption style="padding-top: 20px"><h2>Customers Who Bought This Product Also Bought</h2></caption>
    <tr  ng-repeat="item in $data">
      <td title="'Part'" filter="{ name: 'text'}" sortable="'name'">
        <a ng-href="/#/part/sku/{{item.sku}}">{{item.name}}</a></td>
      <td title="'Part Type'" filter="{part_type: 'text'}" sortable="'part_type'" >
        {{item.part_type}}</td>
    <td title="'Description'" filter="{ description: 'text'}" sortable="'description'" >
      {{item.description}}</td>
    <td title="'Price'" filter="{ price: 'number'}" sortable="'price'" >
      <span class="cart-price">
                                        <span class="regular-price" ng-bind-html='item.price | product_price_filter '></span>
                            </span>
      </td>
    </tr>

    <tr ng-if="$data.length == 0">
      <td colspan="2" style="text-align: center"><b>No Results</b></td>
    </tr>
  </table>
</div>



