<!--<h1>Kit Matrix</h1>-->
<table ng-if="kit_matrix_ready()" class="data-table">
    <tr>
        <th ng-repeat="col in cols" class="rotate" ng-class="selectedCols(col)">
            <div><span  >
                          <a ng-href="/#/part/sku/{{col.sku}}">{{col.title}}</a>
                      </span>
            </div>
        </th>
    </tr>
    <tr ng-repeat="row in kit_matrix">
        <td ng-class="selectedColsDesc(row)"><a ng-href="/#/part/sku/{{row.sku}}">{{row.part_number}}</a></td>
        <td ng-class="selectedColsDesc(row)">{{row.part_type}}</td>
        <td ng-class="selectedColsDesc(row)">{{row.description}}</td>
        <td
                ng-repeat="col in cols.slice(3,col.length)"
                ng-mouseover="setSelectPart(row.part_number,col.field, $index)"
                ng-class="{selected: (row.part_number === idSelectedPart || col.field===selectedCol)}">
            {{row[col.field]}}

        </td>
    </tr>
  </table>

<p  style="text-align: center" ng-if="!kit_matrix_ready()">
    <b>No Results</b>
</p>


