<div class="box-collateral">
  <!--<h1>Service Kits</h1>-->
  <table ng-table="turboGaskeKitTableParams" template-pagination="custom/pager" class="data-table" show-filter="false">
    <tr ng-repeat="gasket in $data">
      <td title="'Gasket Kit OE Part #'" filter="{ partNumber: 'text'}" >
        <a href="/#/part/sku/{{gasket.id}}">{{gasket.part_number}}</a>
      </td>
      <td title="'TI Part'" filter="{ ti_part_number: 'text'}" >
        <a href="/#/part/sku/{{gasket.ti_id}}">{{gasket.ti_part_number}}</a>
      </td>
      <td title="'Description'" filter="{ description: 'text'}" >
        {{gasket.description}}
      </td>
      <td title="'Interchanges'" filter="{ interchanges: 'text'}" >
        {{gasket.interchanges}}
      </td>
      <td title="'Manufacturer'" filter="{ description: 'text'}" >
        {{gasket.manufacturer}}
      </td>
      <td title="'Price'" filter="{ prices: 'text'}" >
        <span  ng-bind-html="gasket.prices | ti_price_filter"> </span>
      </td>

    </tr>
    <tr ng-if="$data.length == 0">
      <td colspan="6" style="text-align: center"><b>No Results</b></td>
    </tr>
  </table>
</div>
