<div class="my-account" ng-controller="CustomerAddressBookController" ng-init="init()">
    <div class="page-title title-buttons">
        <h1>Address Book</h1>
        <button type="button" title="Add New Address" class="button"
                ng-click="createNewAddress()">
            <span><span>Add New Address</span></span></button>
    </div>
    <div class="col2-set addresses-list">
        <div class="col-1 addresses-primary">
            <h2>Default Addresses</h2>
            <ol>
                <li class="item">
                    <h3>Default Billing Address</h3>
                    <address>
                        {{customer.firstname}} {{customer.lastname}}<br>
                        {{customer.default_billing_address.company}}<br>
                        {{customer.default_billing_address.street}}<br>


                        {{customer.default_billing_address.city}},
                        {{customer.default_billing_address.postcode}}<br>
                        {{customer.default_billing_address.country_id}}<br>
                        T: {{customer.default_billing_address.telephone}}

                    </address>
                    <p><a href="/#/customer/account/address/edit/1">Change Billing Address</a></p>
                </li>

                <li class="item">
                    <h3>Default Shipping Address</h3>
                    <address>
                        {{customer.firstname}} {{customer.lastname}}<br>
                        {{customer.default_shipping_address.company}}<br>
                        {{customer.default_shipping_address.street}}<br>


                        {{customer.default_shipping_address.city}},
                        {{customer.default_shipping_address.postcode}}<br>
                        {{customer.default_shipping_address.country_id}}<br>
                        T: {{customer.default_shipping_address.telephone}}

                    </address>
                    <p><a href="/#/customer/account/address/edit/2">Change Shipping Address</a></p>
                </li>
            </ol>
        </div>
        <div class="col-2 addresses-additional">
            <h2>Additional Address Entries</h2>
            <ol>
                <li class="item empty">
                    <p>You have no additional address entries in your address book.</p>
                </li>
            </ol>
        </div>
    </div>
    <div class="buttons-set">
        <p class="back-link"><a href="http://localhost/">
            <small>«</small>
            Back</a></p>
    </div>

</div>
