<div class="order-review" id="checkout-review-load">

  <form id="custom-billing-form" action="">
    <fieldset>
      <ul class="form-list">
        <li class="fields">
          <div class="field">
            <label for="billing:customer_po">Customer Purchase Order</label>
            <div class="input-box">
              <input ng-model="data.customer_purchase_order" type="text" name="billing[customer_po]" id="billing:customer_po" title=""
                     class="input-text">
            </div>
          </div>
        </li>
        <li class="wide">
          <label for="billing:special_instructions">Special instructions</label>
          <div class="input-box">
            <textarea ng-model="data.special_instructions" name="billing[special_instructions]"
                      id="billing:special_instructions" title="" style="height: 2em;"></textarea>
          </div>
        </li>
      </ul>
    </fieldset>
  </form>

  <div id="checkout-review-table-wrapper">
    <table class="data-table" id="checkout-review-table">
      <colgroup>
        <col>
        <col width="1">
        <col width="1">
        <col width="1">
      </colgroup>
      <thead>
      <tr class="first last">
        <th rowspan="1">Part Type</th>
        <th rowspan="1">TI Part #</th>
        <th rowspan="1">OEM Part #</th>
        <th colspan="1" class="a-center">Price</th>
        <th rowspan="1" class="a-center">Qty</th>
        <th colspan="1" class="a-right">Subtotal</th>
      </tr>
      </thead>
      <tfoot>
      <tr class="first">
        <td style="" class="a-right" colspan="5">
          Subtotal
        </td>
        <td style="" class="a-right last">
         <span class="price" ng-bind-html='data.data.base_subtotal | cart_price_filter: product.data.base_currency_code'></span>
      </tr>
      <tr>
        <td style="" class="a-right" colspan="5">
          Shipping &amp; Handling (To Be Quoted by Sales Representative - Offline)
        </td>
        <td style="" class="a-right last">
          <span class="price">{{data.shipping_handling}}</span></td>
      </tr>
      <tr class="last">
        <td style="" class="a-right" colspan="5">
          <strong>Grand Total</strong>
        </td>
        <td style="" class="a-right last">
          <strong><span class="price">{{data.grand_total}}</span></strong>
        </td>
      </tr>
      </tfoot>
      <tbody>
      <tr ng-repeat="product in data.products ">
        <td>
          <h3 class="product-name">{{product.part_type}}</h3>
        </td>
        <!-- TI Part Number -->
        <td>
          {{product.name}}
        </td>
        <td>
          {{product.oem_part}}
        </td>
        <td class="a-right">
                    <span class="cart-price">
                            <span class="regular-price" ng-bind-html='product.price | cart_price_filter: product.data.base_currency_code'></span>
                     </span>
        </td>
        <td class="a-center">{{product.quantity}}</td>
        <td class="a-right last">
                    <span class="cart-price">
                            <span class="regular-price" ng-bind-html='product.row_total | cart_price_filter: product.data.base_currency_code'></span>
                    </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div id="checkout-review-submit">
    <div class="buttons-set" id="review-buttons-container">
      <p class="f-left">Forgot an Item? <a
        href="">
        Edit Your Cart </a>
      </p>
      <button ng-click="placeOrder()" title="Place Order" class="button btn-checkout" >
          <span>
              <span>Place Order</span>
          </span>
      </button>
    </div>
  </div>
</div>
