<div id="checkout-step-payment" class="step a-item">

    <form action="" id="co-payment-form" class="ng-pristine ng-valid">
        <fieldset>
            <dl class="sp-methods" ><dl class="sp-methods" id="checkout-payment-method-load">
                <dt>
                    <span class="no-display"><input id="p_method_checkmo" value="checkmo" type="radio" name="payment[method]" checked="checked" class="radio validation-passed" autocomplete="off"></span>
                    <label for="p_method_checkmo">To be finalized by Sales Representative </label>
                </dt>
            </dl>

            </dl>
        </fieldset>
    </form>
    <div class="tool-tip" id="payment-tool-tip" style="display:none;">
        <div class="btn-close"><a href="#" id="payment-tool-tip-close" title="Close">Close</a></div>
        <div class="tool-tip-content"><img src="/images/cvv.gif" alt="Card Verification Number Visual Reference" title="Card Verification Number Visual Reference"></div>
    </div>
    <!--<div class="buttons-set" id="payment-buttons-container">-->
        <!--<p class="required">* Required Fields</p>-->
        <!--<p class="back-link"><a href="#" onclick="checkout.back(); return false;"><small>« </small>Back</a></p>-->
        <!--<button type="button" class="button" onclick="payment.save()"><span><span>Continue</span></span></button>-->
    <!--</div>-->
</div>
