<div id="checkout-step-shipping_method" class="step a-item">
    <form id="co-shipping-method-form" action="" class="ng-pristine ng-valid">
        <div id="checkout-shipping-method-load">    <dl class="sp-methods">
            <dt>To Be Quoted by Sales Representative</dt>
            <dd>
                <ul>
                    <li>
                        <span class="no-display"><input name="shipping_method" type="radio" value="flatrate_flatrate" id="s_method_flatrate_flatrate" checked="checked"></span>
                        <label for="s_method_flatrate_flatrate">Offline                                                                        <span class="price">$0.00</span>                                                </label>
                    </li>
                </ul>
            </dd>
        </dl>

        </div>
        <div id="onepage-checkout-shipping-method-additional-load">    </div>
        <div class="buttons-set" id="shipping-method-buttons-container">
            <p class="back-link"><a href="#" onclick="checkout.back(); return false;"><small>« </small>Back</a></p>
            <button type="button" class="button validation-passed" onclick="shippingMethod.save()"><span><span>Continue</span></span></button>

    </form>
</div>
