<form id="co-billing-form" action="" class="ng-pristine ng-valid">
  <fieldset class="">
    <ul class="form-list">
      <li class="wide">
        <label for="billing-address-select">Select from your address book or enter a new address.</label>
        <div class="input-box">
          <select name="billing_address_id" id="billing-address-select"
                  class="address-select validation-passed" title=""
                  ng-change="toggleShippingAddress()"
                  ng-options="option.name for option in shippingAddresses track by option.id"
                  ng-model="shippingAddress">
          </select></div>
      </li>
      <li ng-if="newShippingAddressFlag" id="billing-new-address-form" >
        <fieldset>
          <ul>
            <li class="wide">
              <label  class="required"><em>*</em>Name</label>
              <div class="input-box">
                <input ng-model="shippingAddresses[1].value.name" type="text"
                       class="input-text  required-entry">
              </div>
            </li>
            <li class="wide">
              <label  class="required"><em>*</em>Street</label>
              <div class="input-box">
                <input type="text" ng-model="shippingAddresses[1].value.street"     class="input-text  required-entry validation-passed">
              </div>
            </li>
            <li class="wide">
              <label  class="required">Company</label>
              <div class="input-box">
                <input type="text"
                       ng-model="shippingAddresses[1].value.company" class="input-text validation-passed">
              </div>
            </li>
            <li class="fields">
              <div class="field">
                <label for="billing:city" class="required"><em>*</em>City</label>
                <div class="input-box">
                  <input type="text"  ng-model="shippingAddresses[1].value.city"
                         class="input-text  required-entry validation-passed" id="billing:city">
                </div>
              </div>
              <div class="field">
                <label  class="required"><em>*</em>State/Province</label>
                <div class="input-box">
                  <ang-select-usstates ng-if="shippingAddresses[1].value.country_id=='US'" ng-model="shippingAddresses[1].value.region_id" name="region_id"></ang-select-usstates>
                  <input ng-if="shippingAddresses[1].value.country_id!='US'" ng-model="shippingAddresses[1].value.region_id"/>
                </div>
              </div>
            </li>
            <li class="fields">
              <div class="field">
                <label for="billing:postcode" class="required"><em>*</em>Zip/Postal Code</label>
                <div class="input-box">
                  <input type="text"
                         id="billing:postcode"  ng-model="shippingAddresses[1].value.postcode"
                         class="input-text validate-zip-international  required-entry validation-passed">
                </div>
              </div>
              <div class="field">
                <label for="billing:country_id" class="required"><em>*</em>Country</label>
                <div class="input-box">
                  <country-select data-ng-model="shippingAddresses[1].value.country_id" id="billing:country_id"></country-select>
                </div>
            </li>
            <li class="fields">
              <div class="field">
                <label for="billing:telephone" class="required"><em>*</em>Telephone</label>
                <div class="input-box">
                  <input type="text" ng-model="shippingAddresses[1].value.telephone"
                         class="input-text  required-entry validation-passed" id="billing:telephone">
                </div>
              </div>
              <div class="field">
                <label for="billing:fax">Fax</label>
                <div class="input-box">
                  <input type="text" ng-model="shippingAddresses[1].value.fax"
                         class="input-text validation-passed" id="billing:fax">
                </div>
              </div>
            </li>
            <!--<li class="control">-->
              <!--<input type="checkbox" name="billing[save_in_address_book]" value="1"-->
                     <!--title="Save in address book" id="billing:save_in_address_book"-->

                     <!--class="checkbox validation-passed"><label for="billing:save_in_address_book">Save in-->
              <!--address book</label>-->
            <!--</li>-->
          </ul>
        </fieldset>
      </li>
      <!--<li class="control">-->
      <!--<input type="radio" name="billing[use_for_shipping]" id="billing:use_for_shipping_yes" value="1"-->
      <!--checked="checked" title="Ship to this address"-->
      <!--class="radio validation-passed"><label-->
      <!--for="billing:use_for_shipping_yes">Ship to this address</label></li>-->
      <!--<li class="control">-->
      <!--<input type="radio" name="billing[use_for_shipping]" id="billing:use_for_shipping_no" value="0"-->
      <!--title="Ship to different address"-->
      <!--class="radio validation-passed"><label for="billing:use_for_shipping_no">Ship to different-->
      <!--address</label>-->
      <!--</li>-->
    </ul>
    <!--<div class="buttons-set" id="billing-buttons-container">-->
      <!--<p class="required">* Required Fields</p>-->
      <!--<button type="button" title="Continue" class="button validation-passed" >-->
        <!--<span><span>Continue</span></span></button>-->
    <!--</div>-->
  </fieldset>
</form>
