<div class="block-title">
    <strong><span>My Account</span></strong>
</div>
<div class="block-content" ng-controller="CustomerAccountSideBarController" ng-init="init()">
    <ul>
        <li ng-class="getClassByMenuItem(1)"><a href="/#/customer/account/">Account Dashboard</a></li>
        <li ng-class="getClassByMenuItem(2)"><a href="/#/customer/account/information/">Account Information</a></li>
        <li ng-class="getClassByMenuItem(3)"><a href="/#/customer/account/addressBook/">Address Book</a></li>
        <li ng-class="getClassByMenuItem(4)"><a href="/#/customer/account/orders/">My Orders</a></li>
        <!--<li ng-class="getClassByMenuItem(5)"><a href="/#/customer/account/wishlist/">My Wishlist</a></li>-->
    </ul>
</div>
