<div class="block-title">
    <strong><span>My Account</span></strong>
</div>
<div class="block-content">
    <ul>
        <li class="current"><strong>Account Dashboard</strong></li>
        <li><a href="/#/customer/account/">Account Dashboard</a></li>
        <li><a href="/#/customer/account/information/">Account Information</a></li>
        <li><a href="/#/customer/account/addressBook/">Address Book</a></li>
        <li><a href="/#/customer/account/orders/">My Orders</a></li>
        <li><a href="/#/customer/account/wishlist/">My Wishlist</a></li>
    </ul>
</div>