<div ng-controller="AboutUsController" class="main-container col1-layout">
    <div class="main">
        <div class="breadcrumbs">
            <ul>
                <li class="home">
                    <a href="/" title="Go to Home Page">Home</a>
                    <span>/ </span>
                </li>
                <li class="cms_page">
                    <strong>About Us</strong>
                </li>
            </ul>
        </div>
        <div class="col-main">
            <div class="page-title">
                <h1>About Us</h1>
            </div>
            <div class="std"><p><span style="font-size: small;">Turbo International was founded in 1989 and since then has been dedicated to serving the global turbocharger aftermarket with an ever increasing range of high quality turbocharger assemblies and component parts at competitive prices. In addition to our headquarters and inventory located in southern California, we have a European sales office based in the UK. From these locations we serve customers on six continents.&nbsp;</span><br><br><span
                    style="font-size: small;">Turbo International is committed to:</span></p>
                <ul class="list3">
                    <li><em>Superior product quality</em></li>
                    <li><em>Offering a comprehensive and constantly expanding range of turbocharger product to the
                        worldwide aftermarket</em></li>
                    <li><em>Producing engineering specifications to meet the highest demands of the marketplace</em>
                    </li>
                    <li><em>Applying the latest quality control processes using precision instruments</em></li>
                    <li><em>Balancing wheels, rotors and assemblies with the latest technology in dynamic balancing
                        equipment</em></li>
                    <li><em>Delivering a premier service</em></li>
                    <li><em>Facilitating parts salvage through non-standard sized parts</em></li>
                </ul>
                <p>&nbsp;</p>
                <p class="p1"><span style="font-size: small;">We take pride in our long history in this marketplace and are committed to delivering the best products and unsurpassed service to our customers.</span>
                </p>
                <p class="p1"><span style="font-size: small;">Contact TI to learn more about our existing product range and any other parts of interest to you. Se habla español.</span>
                </p>
                <p class="p1"><span style="font-size: small;"><strong>Phone:</strong></span><br><span
                        style="font-size: small;">800.238.8726 (in USA)</span><br><span style="font-size: small;">+1.760.476.1444 (outside USA)</span><br><br><span
                        style="font-size: small;">Email:&nbsp;<span style="color: #0000ff;"><a
                        href="mailto:sales@turbointernational.com"><span style="color: #0000ff;">sales@turbointernational.com</span></a></span></span>
                </p></div>
        </div>
    </div>
</div>
