<div class="main">
  <div class="breadcrumbs">
    <ul>
      <li class="home">
        <a href="/#/" title="Go to Home Page">Home</a>
        <span>/ </span>
      </li>
      <li class="cms_page">
        <strong>FAQ</strong>
      </li>
    </ul>
  </div>
  <div class="col-main">
    <div class="page-title">
      <h1>Frequently Asked Questions</h1>
    </div>
    <div class="std"><div class="Alert">
      <h2 align="center"><span style="color: #0000ff;">DOING BUSINESS WITH TURBO INTERNATIONAL</span></h2>
      <p>&nbsp;</p>
      <span style="color: #ff0000; font-size: small;">Where can I buy Turbo International products?&nbsp;</span></div>
      <p><span style="font-size: small;"><strong>Turbo International</strong>&nbsp;sells through a worldwide network of distributors, all of whom are experienced and reputable turbo service centers.&nbsp;</span></p>
      <p>&nbsp;</p>
      <div class="Alert"><span style="color: #ff0000; font-size: small;">Where are these distributors and how can I find them?</span></div>
      <p><span style="font-size: small;">Please go to our&nbsp;<a href="/#/contact-us/"><span style="color: #0000ff;">Contact U</span>s</a>&nbsp;page for other options. We will then let you know who to contact or pass your inquiry onto the appropriate distributor.</span></p>
      <p>&nbsp;</p>
      <div class="Alert"><span style="color: #ff0000; font-size: small;">How can I become a Turbo International distributor?&nbsp;</span></div>
      <p><span style="font-size: small;">First, we need to know about your business:</span></p>
      <ul class="list3">
        <li><em>What products do you sell</em></li>
        <li><em>Do you have any rebuild facilities</em></li>
        <li><em>Which markets do you service e.g. automotive, truck, earth moving etc.,</em></li>
        <li><em>Annual sales of turbos, new and rebuild</em></li>
        <li><em>How many locations do you have and which territories do you service</em></li>
        <li><em>Who are your existing suppliers</em></li>
        <li><em>Which manufacturers/distributors do you represent</em></li>
      </ul>
      <div class="Alert">&nbsp;</div>
      <div class="Alert"><span style="color: #ff0000; font-size: small;">What criteria does Turbo International look for in a distributor?</span></div>
      <ul class="list3">
        <li><em>Existing companies established in the independent turbo aftermarket</em></li>
        <li><em>Proven track record of quality work and service</em></li>
        <li><em>Feature turbos as a major part of their product range</em></li>
        <li><em>Invest in inventory to provide a timely service</em></li>
      </ul>
      <p>&nbsp;</p>
      <p><span style="color: #ff0000; font-size: small;">How do I order the part I need?</span></p>
      <p><span style="font-size: small;">Ideally, we need the Turbo International part number. We have a unique part numbering system that is cross referenced to the original turbo manufacturers’ part numbers and prevents confusion between Original Equipmen and Turbo International products. If you only have the Original Equipment part number, tell us and we will cross refer to the appropriate Turbo International number. If you do not have any part numbers, tell us the name of the turbo manufacturer, the model type and part number, and a brief description of the part. We can then identify the part you need. Our full product range and comprehensive cross reference to the turbo manufacturers’ part numbers are available on-line at www.turbointernational.com.</span></p>
      <p><span style="color: #ff0000; font-size: small;">What warranty does Turbo International offer?</span></p>
      <p>Turbo International warrants all products for 12 months or 50,000 miles, whichever is reached first, from the date of fitting. Any product proved to be faulty is replaced free-of-charge or credited at the discretion of Turbo International. Direct, indirect, or consequential damage or loss resulting from any claim is not the liability of Turbo International. The liability for damage or loss shall not exceed the value of the Turbo International parts involved in the claim.</p></div>                </div>
</div>
