<div class="amfinder-vertical" id="finder" ng-controller="ApplicationController" ng-init="init()">
    <h4 style="color: #000000;">Application Finder</h4>
    <div class="dropdown-title">Make</div>
    <div class="dropdown-element">
        <select
                ng-options="make as make for make in makes"
                ng-model="make_selected"
                ng-change="aggregateYearsByMake()"
                style="width:120px">
        </select> &nbsp;
    </div>
    <div class="dropdown-title">Year</div>
    <div class="dropdown-element">
        <select
                ng-options="year as year for year in years"
                ng-model="year_selected"
                ng-change="aggregateModelsByMakeAndYear()"
                style="width:120px">
        </select> &nbsp;
    </div>
    <div class="dropdown-title">Model</div>
    <div class="dropdown-element">
        <select
                ng-options="model as model for model in models"
                ng-model="model_selected"

                style="width:120px">

        </select> &nbsp;
    </div>
    <br>
    <div class="amfinder-buttons" style="">
        <button class="button" ng-click="queryApplication()" t type="submit"><span><span>Find</span></span></button>
         </div>
</div>