<div class="main">
  <div class="breadcrumbs">
    <ul>
      <li class="home">
        <a href="/#/" title="Go to Home Page">Home</a>
        <span>/ </span>
      </li>
      <li class="cms_page">
        <strong>How Turbos Work</strong>
      </li>
    </ul>
  </div>
  <div class="col-main">
    <div class="page-title">
      <h1>How Turbos Work</h1>
    </div>
    <div class="std"><p><img style="float: right; padding: 20px;" src="images/htw_diagram.jpg" alt="" width="276" height="236" align="right" border="0"></p>
      <p><span style="font-size: small;">Turbo charging forces compressed air into an engine to improve a vehicle’s performance. With turbochargers, a smaller, more fuel efficient engine can replace a larger, less fuel efficient engine. The smaller engine achieves similar performance, while reducing exhaust emissions.</span></p>
      <p>&nbsp;</p>
      <p><span style="font-size: small;">The turbocharger is driven by waste exhaust gases forced through an exhaust housing onto a turbine wheel. The turbine wheel is connected by a common shaft to a compressor wheel so that both wheels rotate simultaneously when the exhaust gases hit the turbine wheel. Rotation of the turbo assembly compresses the intake air routed through a compressor housing, forcing the compressed air into the engine’s cylinders. The increased amount of air forced into the engine creates more power than a similarly sized non-turbocharged engine and power similar to a larger, non-turbocharged engine. Turbochargers operate at very high temperatures, high speeds and high pressures. Optimum performance can only be achieved by the proper operation, maintenance and service.</span></p>
      <p><br><span style="font-size: small;"><img style="float: left; padding: 20px;" src="images/htw_cutaway.jpg" alt="" width="264" height="198" align="left" border="0"></span></p>
      <p><span style="font-size: small;">Service Tips:&nbsp;</span></p>
      <ul class="list3">
        <li><span style="font-size: small;"><em>Change your engine oil at the recommended intervals.</em></span></li>
        <li><span style="font-size: small;"><em>Service your turbo at the recommended intervals.</em></span></li>
        <li><span style="font-size: small;"><em>Use only qualified and experienced specialists to service your turbo.</em></span></li>
        <li><em>Check out any oil leaks, excessive or unusual noise and vibration as soon as they occur.</em></li>
        <li><span style="font-size: small;"><em>Lack of power, excessive noise, black or blue colored smoke are more likely to indicate engine problems than turbo problems.</em></span></li>
        <li><span style="font-size: small;"><em>Wait for the engine oil to reach normal operating temperature before revving the engine excessively.</em></span></li>
        <li><span style="font-size: small;"><em>Let the engine idle for a couple of minutes before switching the vehicle off.</em></span></li>
      </ul></div>                </div>
</div>
