<div class="main">
  <div class="breadcrumbs">
    <ul>
      <li class="home">
        <a href="/#/" title="Go to Home Page">Home</a>
        <span>/ </span>
      </li>
      <li class="cms_page">
        <strong>Quality Assuance</strong>
      </li>
    </ul>
  </div>
  <div class="col-main">
    <div class="page-title">
      <h1>Quality Assurance</h1>
    </div>
    <div class="std"><div id="PageContent" class="Block Moveable Panel">
      <div class="BlockContent">
        <p><span style="font-size: small;"><strong>Turbo International</strong>&nbsp;has a pure and simple mission: to produce the highest quality replacement parts. To satisfy the increasing demand for quality - and ISO standards - we take OEM parts and test them rigorously to determine physical properties, chemical compostition, mechanical structure, dimensions, and tolerances. We then use cutting-edge, computerized manufacturing processes, based in Southern California, to produce quality products at competitive prices.</span><br><br><span style="font-size: small;">Quality Assurance is an ongoing process at&nbsp;<strong>Turbo International</strong>. Our dedicated QA department strives to test, monitor, improve, and document product improvements. We use the latest industry QA principles and inspection practices to ensure our parts meet the most stringent specifications.&nbsp;</span><br><br></p>
        <p><span style="font-size: small;">At the same time, our customer service team takes equal pride in delivering impeccable service.</span></p>
      </div>
    </div></div>                </div>
</div>
