<div  class="block block-list block-viewed" ng-controller="ViewedProductsController" ng-init="init()">
    <div class="block-title">
        <strong><span>Recently Viewed Products</span></strong>
    </div>
    <div class="block-content">
        <ol id="recently-viewed-items">
              <li ng-repeat="item in viewed_products" class="item odd">
                  <p class="product-name"><a href="/#/part/sku/{{item.sku}}">{{item.name}}</a></p>
              </li>
        </ol>

    </div>
</div>
