<div class="main-container col1-layout" ng-controller="CustomerCheckoutController" ng-init="init()">
  <div ng-if="!orderSent" class="main">
    <div class="col-main">
      <div class="page-title">
        <h1>Checkout</h1>
      </div>
      <v-accordion class="vAccordion--default" multiple>

        <!-- add expanded attribute to open the section -->
        <v-pane expanded>
          <v-pane-header>
            {{panes[0].header}}
          </v-pane-header>

          <v-pane-content>
            <div ng-include="'views/customer/partials/_billing_information.html'"></div>
          </v-pane-content>
        </v-pane>

        <v-pane>
          <v-pane-header>
            {{panes[1].header}}
          </v-pane-header>

          <v-pane-content>
            <div ng-include="'views/customer/partials/_shipping_information.html'"></div>
          </v-pane-content>
        </v-pane>

        <v-pane>
          <v-pane-header>
            {{panes[2].header}}
          </v-pane-header>

          <v-pane-content>
            <div ng-include="'views/customer/partials/_shipment_method.html'"></div>
          </v-pane-content>
        </v-pane>
        <v-pane>
          <v-pane-header>
            {{panes[3].header}}
          </v-pane-header>

          <v-pane-content>
            <div ng-include="'views/customer/partials/_payment_method.html'"></div>
          </v-pane-content>
        </v-pane>
        <v-pane>
          <v-pane-header>
            {{panes[4].header}}
          </v-pane-header>

          <v-pane-content>
            <div ng-include="'views/customer/partials/_order_review.html'"></div>
          </v-pane-content>
        </v-pane>

      </v-accordion>



    </div>
    </div>
  <div ng-if="orderSent" class="main">
    <div class="col-main">
      <div>
        <ul class="messages">
          <li ng-if="orderCreationError" class="error-msg">
            <ul><li><span>The order is not  yet sent to your email address, we will send it later.</span></li></ul>
          </li>
          <li ng-if="orderCreationSuccess" class="success-msg">
            <ul><li><span>The order is  sent to your email address</span></li></ul>
          </li>
        </ul>
      </div>
      <div class="page-title">

      </div>
      <h2 class="sub-title">Thank you for your purchase!</h2>

      <p>Your order # is: <a ng-href="/#/customer/order/{{order.order_id}}/view">{{order.order_id}}</a>.</p>
      <p>You will receive an order confirmation email with details of your order and a link to track its progress.</p>
      <p>
        Click <a href=""  ng-click="printOrder(order.order_id)" >here to print</a> a copy of your order confirmation. </p>


      <!--<div class="buttons-set">-->
        <!--<button type="button" class="button" title="Continue Shopping"-->
                <!--onclick="window.location='http://www.turbointernational.com/'">-->
          <!--<span><span>Continue Shopping</span></span></button>-->
      <!--</div>-->
    </div>
  </div>
  </div>
