<div class="main-container col1-layout" ng-controller="ForgotPasswordController">
  <div class="main" ng-init="reloadRoute()">
    <div class="col-main">
      <div>
        <ul class="messages">
          <li class="success-msg" ng-if="action_result.success.flag">
            <ul>
              <li><span>{{action_result.success.message}}</span></li>
            </ul>
          </li>
          <li class="error-msg" ng-if="action_result.error.flag">
            <ul>
              <li>
                <span>{{action_result.error.message}}</span>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div ng-if="!action_result.success.flag">
        <div class="page-title">
          <h1>Forgot Your Password?</h1>
        </div>
        <form>
          <div class="fieldset">
            <h2 class="legend">Retrieve your password here</h2>
            <p>Please enter your email address below. You will receive a link to reset your password.</p>
            <ul class="form-list">
              <li>
                <label for="email_address" class="required"><em>*</em>Email Address</label>
                <div class="input-box">
                  <input type="text" ng-model="email" name="email" alt="email" id="email_address"
                         class="input-text required-entry validate-email" value="">
                </div>
              </li>
            </ul>
          </div>
          <div class="buttons-set">
            <p class="required">* Required Fields</p>
            <!--<p class="back-link"><a href="/#/customer/account/login/">-->
              <small>«</small>
              Back to Login</a></p>
            <button title="Submit" class="button" ng-click="resetPassword(email)"><span><span>Submit</span></span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
