<div class="main-container col1-layout">
  <div class="main">
    <div class="col-main">
      <div class="account-login" ng-controller="CustomerLogin" ng-init="init()">
        <div class="page-title" >
          <h1>Login</h1>
        </div>
        <ul ng-if="isNotAuthorized" class="messages">
          <li class="error-msg">
            <ul>
              <li>
                <span>Invalid login or password.</span>
              </li>
            </ul>
          </li>
        </ul>
        <form  class="ng-pristine ng-valid">
          <div class="col2-set">
            <div class="col-1 new-users">
              <div class="content">
                <h2>New Customers</h2>
                <p>If you would like to create an account with Turbo International please email <a
                  href="mailto:order@turbointernational.com">order@turbointernational.com</a> for assistance or fill out
                  the form at <a href="/contact-us">Contact Us</a>.</p>
              </div>
            </div>
            <div class="col-2 registered-users">
              <div class="content">
                <h2>Registered Customers</h2>
                <p>If you have an account with us, please log in.</p>
                <ul class="form-list">
                  <li>
                    <label for="email" class="required"><em>*</em>Email Address</label>
                    <div class="input-box">
                      <input
                        ng-model="customer_email"
                        type="text"
                        name="login[username]"
                        value=""
                        id="email"
                        class="input-text required-entry validate-email"
                        title="Email Address">
                    </div>
                  </li>
                  <li>
                    <label for="pass" class="required"><em>*</em>Password</label>
                    <div class="input-box">
                      <input
                        ng-model="password"
                        type="password"
                        name="login[password]"
                        class="input-text required-entry validate-password"
                        id="pass"
                        title="Password"
                      >
                    </div>
                  </li>
                </ul>
                <a href="" class="f-left">Forgot Your Password?</a>


                <p class="required">* Required Fields</p>
              </div>
            </div>
          </div>
          <div class="col2-set">
            <div class="col-1 new-users">
              <div class="buttons-set">
              </div>
            </div>
            <div class="col-2 registered-users">
              <div class="buttons-set">
                <button
                  ng-click="submitPassword()"
                  type="submit"
                  class="button"
                  title="Login"
                  name="send"
                  id="send2">
                  <span>
                    <span>Login</span>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
