<div class="main-container col1-layout">
  <div class="main">
    <div class="col-main">
      <div class="page-title">
        <h1>Your order has been received.</h1>
      </div>
      <h2 class="sub-title">Thank you for your purchase!</h2>

      <p>Your order # is: <a href="https://www.turbointernational.com/sales/order/view/order_id/534/">100000630</a>.</p>
      <p>You will receive an order confirmation email with details of your order and a link to track its progress.</p>
      <p>
        Click <a href="https://www.turbointernational.com/sales/order/print/order_id/534/"
                 onclick="this.target='_blank'">here to print</a> a copy of your order confirmation. </p>


      <div class="buttons-set">
        <button type="button" class="button" title="Continue Shopping"
                onclick="window.location='http://www.turbointernational.com/'">
          <span><span>Continue Shopping</span></span></button>
      </div>
    </div>
  </div>
</div>
